/* Block */

.Block {
	display: block;
	min-height: 100vh;
	padding: 1em 1em;
}

.Block--hero {
	display: block;
}

.Block--products {
	/*padding: 4.5em 0;*/
	min-height: 100vh;
}

@media (min-width: 48em) {

	.Block {
		padding: 2.25em 1.5em;
	}

}

@media (min-width: 60em) {

	.Block {
		padding: 3.75em 2.25em;
	}

}

@media (min-width: 96em) {

	.Block {
		padding: 4.5em;
	}

}