/* Header */

.Header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.is-landscape .Header {
	float: left;
	height: 100vh;
	position: fixed;
	width: 18em;
}

.is-portrait .Header {
	margin-bottom: 1.5em;
}

@media (min-width: 60em) {

	.is-landscape .Header {
		width: 24em;
	}

}