/* Local */

.Local {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}

.Local-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}

/* Local Map */

.LocalMap {
	height: 8em;
	margin-bottom: 2.25em;
	width: 100%;
}

@media (min-width: 48em) {

	/* Local Map */

	.LocalMap {
		height: 14em;
		margin-bottom: 1em;
	}

}

@media (min-width: 72em) {

	/* Local Map */

	.LocalMap {
		height: 16em;
		margin-bottom: 1.125em;
	}

}

@media (min-width: 96em) {

	/* Local Map */

	.LocalMap {
		height: 24em;
		margin-bottom: 2.25em;
	}

}