.Logo {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
}

.Logo--header {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.is-portrait .Logo--header {
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.Logo--header .Logo-select-area {
	padding: 1.125em;
}

.Logo--header .Logo-inner {
	width: 8em;
}

.Logo--header svg {
	-webkit-transition: fill .6s;
	-moz-transition: fill .6s;
	-ms-transition: fill .6s;
	-o-transition: fill .6s;
	transition: fill .6s;
	width: 100%;
}

#PromafaLogoMain-background,
#PromafaLogoLines {
	fill: #e53935;
}

#PromafaLogoMain-text {
	fill: #ffffff;
}

#PromafaLogoTypo {
	fill: #000000;
}

@media (max-height: 24em) {

	.Logo-select-area {
		padding: 1em;
	}

}

@media (min-width: 96em) {

	.Logo--header .Logo-inner {
		width: 10em;
	}

	.Logo-select-area {
		padding: 2.25em;
	}

}