/* Menu */

.Menu {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	width: 100%;
}

.is-portrait .Menu--main {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	padding: 0 0 1em;
}

.is-portrait .Menu--portrait-centered {
	-webkit-align-items: center;
	align-items: center;
}

/* Menu Item */

.MenuItem {
	border-right-style: solid;
	border-right-color: transparent;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition: border .3s;
	-moz-transition: border .3s;
	-ms-transition: border .3s;
	-o-transition: border .3s;
	transition: border .3s;
	width: 100%;
}

.MenuItem.is-active {
	border-bottom-style: solid;
}

.MenuItem.is-active.has-border {
	border-right-color: transparent;
}

/* Menu Item */

.MenuItem-select-area {
	cursor: pointer;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: .75em 0 .5em .375em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	width: 100%;
}

.MenuItem-select-area:hover {
	color: #d50000;
}

.MenuItem.is-active .MenuItem-select-area {
	color: #b71c1c;
}

.MenuItem-select-area span {
	font-weight: 400;
	letter-spacing: 2.25pt;
	text-transform: uppercase;
}

.MenuItem.is-active .MenuItem-select-area span {
	font-weight: 900;
}