/* Toggle */

.Toggle {
	color: #424242;
	cursor: pointer;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 1em;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-ms-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
	z-index: 100;
}

.is-landscape .Toggle {
	display: none;
}

html[data-target=institutional] .Toggle {
	color: #ffffff;
}

html[data-target=products] .Toggle {
	color: #b71c1c;
}

html[data-target=recipes] .Toggle {
	color: #ffffff;
}

html[data-target=reps] .Toggle {
	color: #b71c1c;
}

.Toggle.is-active {
	color: #ffffff;
}

.Toggle span {
	line-height: 1;
}

.Toggle span:last-child {
	margin-right: 0;
}

.ToggleIcon {
	font-size: 1.125em;
	margin: 0 .375em;
}

.ToggleText {
	font-size: .875em;
	text-transform: uppercase;
}

.ToggleText:before {
	content: 'menu';
}

.Toggle.is-active .ToggleText:before {
	content: 'fechar';
}